In [3]:
clusters_sul = ['Auner 1', 'Berkeley 73', 'NGC 1193', 'ESO 92-5' ,'NGC 2243', 'Melotte 66', 'Berkeley 56', 'Berkeley 75', 'ESO 92-18','Berkeley 25', 'FSR 1419', 'AM 2',
 'Czernik 26', 'Berkeley 102', 'Tombaugh 2', 'Berkeley 20','Berkeley 22','NGC 2204', 'Dolidze 25', 'ESO 96-4' ,'UKS 2', 'Gaia 1', 'Gaia 2' ]

In [4]:
clusters_norte = ['Berkeley 29', 'Berkeley 92', 'Berkeley 99', 'Berkeley 8' ,'NGC 2420' ,'NGC 6791', 
                  'King 8', 'Berkeley 23', 'Berkeley 31','Haffner 18', 'UBC 615', 'UBC 648', 'UBC 624']

In [12]:
import pandas as pd
df = pd.read_csv('Catalogues/bica.tsv', sep = '|', comment = '#', header = 1)



j = []
for element in df['Name']:
    nomes = element.rstrip()
    nomes = nomes.lstrip()
    nomes = nomes.split(',')
    for i in nomes:
        for k in clusters_sul:
            if i == k:
                j.append(k)

for element in clusters_sul:
    if element not in j:
        print(element)
        
j = []
for element in df['Name']:
    nomes = element.rstrip()
    nomes = nomes.lstrip()
    nomes = nomes.split(',')
    for i in nomes:
        for k in clusters_norte:
            if i == k:
                j.append(k)

for element in clusters_norte:
    if element not in j:
        print(element)

UBC 615
UBC 648
UBC 624

In [8]:
clusters = clusters_norte + clusters_sul

In [5]:
#import os

#for element in clusters:
    #nome = element.replace(' ', '_')
    #os.mkdir(nome)

In [18]:
f = open("Catalogues/aglomerados_projeto.txt", "w")
f.write("Nome,_RAJ2000,_DEJ2000,GLON,GLAT,DIAM\n")



for j in range(len(df['Name'])):
    element = df['Name'][j]
    nomes = element.rstrip()
    nomes = nomes.lstrip()
    nomes = nomes.split(',')
    for i in nomes:
        for k in clusters:
            if i == k:
                RA = ',' + str(df['_RAJ2000'][j]) + ','
                DEC = str(df['_DEJ2000'][j]) +','
                LON = str(df['GLON'][j])+','
                LAT = str(df['GLAT'][j])+','
                DIAM = df['Diam-a'][j] if df['Diam-a'][j] >= df['Diam-b'][j] else df['Diam-b'][j] 
                DIAM  = str(DIAM)+'\n'
                nome = k.replace(' ', '_')
                f.write(nome+RA+DEC+LON+LAT+DIAM)


nome = 'UBC_615'
RA = ',' + str(104.880) + ','
DEC = str(33.154) +','
LON = str(183.410)+','
LAT = str(15.980)+'\n'
f.write(nome+RA+DEC+LON+LAT)


nome = 'UBC_624'
RA = ',' + str(119.227) + ','
DEC = str(07.984) +','
LON = str(213.165)+','
LAT = str(18.176)+'\n'
f.write(nome+RA+DEC+LON+LAT)


nome = 'UBC_648'
RA = ',' + str(142.543) + ','
DEC = str(-34.136) +','
LON = str(266.222)+','
LAT = str(12.378)+'\n'
f.write(nome+RA+DEC+LON+LAT)
f.close()