In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
cantat = pd.read_csv('../Catalogues/cantat-2020.csv')
cantat.head()

,Cluster,RA_ICRS,DE_ICRS,r50,nbstars07,pmRA_,pmDE,plx,Flag,AgeNN,AVNN,DMNN,X,Y,Z,Rgc,modZ,distpc
0,ASCC_10,51.870,34.981,0.558,65,-1.737,-1.368,1.459,NN,8.42,0.63,9.10,-573.0,258.0,-201.0,8917.0,201.0,494.310693
1,ASCC_101,288.399,36.369,0.372,69,0.934,1.288,2.488,NN,8.69,0.19,8.08,151.0,374.0,83.0,8197.0,83.0,378.442645
2,ASCC_105,295.548,27.366,0.648,113,1.464,-1.635,1.783,NN,7.87,0.41,8.77,259.0,504.0,20.0,8096.0,20.0,469.894292
3,ASCC_107,297.164,21.987,0.174,57,-0.155,-5.156,1.109,NN,7.23,1.69,9.70,449.0,744.0,-28.0,7925.0,28.0,399.944748
4,ASCC_108,298.306,39.349,0.537,188,-0.519,-1.690,0.838,NN,8.03,0.34,10.32,310.0,1110.0,122.0,8105.0,122.0,990.831518

In [15]:
clusters_sul = ['Auner 1', 'Berkeley 73', 'NGC 1193', 'ESO 92-5' ,'NGC 2243', 'Melotte 66', 'Berkeley 56', 'Berkeley 75', 'ESO 92-18','Berkeley 25', 'FSR 1419', 'AM 2',
'Czernik 26', 'Berkeley 102', 'Tombaugh 2', 'Berkeley 20','Berkeley 22','NGC 2204', 'Dolidze 25', 'ESO 96-4' ,'UKS 2', 'Gaia 1', 'Gaia 2' ]

clusters_norte = ['Berkeley 29', 'Berkeley 92', 'Berkeley 99', 'Berkeley 8' ,'NGC 2420' ,'NGC 6791', 
'King 8', 'Berkeley 23', 'Berkeley 31','Haffner 18', 'UBC 615', 'UBC 648', 'UBC 624']

In [4]:
sul = [w.replace(' ', '_') for w in clusters_sul]
sul = [w.replace('-', '_') for w in sul]
norte = [w.replace(' ', '_') for w in clusters_norte]

aglomerados = sul + norte

In [11]:
df = cantat[cantat.Cluster == aglomerados[5]]
df

,Cluster,RA_ICRS,DE_ICRS,r50,nbstars07,pmRA_,pmDE,plx,Flag,AgeNN,AVNN,DMNN,X,Y,Z,Rgc,modZ,distpc
738,Melotte_66,111.573,-47.685,0.088,804,-1.474,2.745,0.183,NN,9.63,0.25,13.42,-847.0,-4604.0,-1190.0,10276.0,1190.0,4305.266729

In [13]:
data =  pd.read_csv('../Catalogues/3d_kinematics.csv')
data.head()

,_RAJ2000,_DEJ2000,_r,Cluster,RVmean,e_RVmean,Nsel,RA_ICRS,DE_ICRS,Flag,...,vphi,Rgal,phi,Xgal,Ygal,Zgal,HQS,SimbadName,_RA.icrs,_DE.icrs
0,251.760,-45.852,80.1882,http://vizier.u-strasbg.fr/viz-bin/VizieR-4?-i...,-20.36,6.18,13,251.760,-45.852,tooRed,...,-207.6017,5.7911,-170.2376,-5707.2635,-981.9543,-1.1891,0,Cl Westerlund 1,251.760,-45.852
1,216.120,-46.390,65.2429,http://vizier.u-strasbg.fr/viz-bin/VizieR-4?-i...,8.79,0.54,8,216.120,-46.390,tooRed,...,-232.2917,8.2300,-179.3366,-8229.4394,-95.2938,61.7145,1,NaN,216.120,-46.390
2,83.565,30.475,82.1126,http://vizier.u-strasbg.fr/viz-bin/VizieR-4?-i...,50.69,0.28,1,83.565,30.475,notEnoughStars,...,-246.0645,9.0641,179.7910,-9064.0714,33.0660,13.2561,0,NaN,83.565,30.475
3,56.301,64.644,120.2639,http://vizier.u-strasbg.fr/viz-bin/VizieR-4?-i...,-10.74,3.39,3,56.301,64.644,notEnoughStars,...,-237.5611,8.7160,177.9701,-8710.5681,308.7279,94.1044,0,NaN,56.301,64.644
4,9.677,65.465,136.9126,http://vizier.u-strasbg.fr/viz-bin/VizieR-4?-i...,-10.47,15.07,2,9.677,65.465,notEnoughStars,...,-243.3480,8.8825,174.7023,-8844.5391,820.1186,72.8002,0,NaN,9.677,65.465

In [19]:
df = data[data.SimbadName == clusters_sul[2]]
df

,_RAJ2000,_DEJ2000,_r,Cluster,RVmean,e_RVmean,Nsel,RA_ICRS,DE_ICRS,Flag,...,vphi,Rgal,phi,Xgal,Ygal,Zgal,HQS,SimbadName,_RA.icrs,_DE.icrs
78,46.486,44.383,108.3332,http://vizier.u-strasbg.fr/viz-bin/VizieR-4?-i...,-80.6,11.65,3,46.486,44.383,NN,...,-218.7362,12.7075,167.8761,-12424.0979,2668.9248,-1010.6762,0,NGC 1193,46.486,44.383